*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,35,93,1) 0%, rgba(9,9,121,1) 12%, rgba(15,162,191,1) 100%);
}

/* BLINKING BRAND */
.blink {
    animation-duration: 3000ms;    /*blinking speed decreases and increase */
    animation-name: tgle;
    animation-iteration-count: infinite;
  }
  
  @keyframes tgle {
    0% {
      opacity: 0;
    }
  
    49.99% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  
    99.99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
/* END OK OF BLINKING BRAND */


/* #video{
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 80px;
    overflow: hidden;
    z-index: -100;
  }
  */

.navbar-brand{
  position: relative;
}

.logo{
  margin-top: -25px;
}
#video-background{
    width: 100%;
    opacity: .6;
    clip-path: polygon(0 0, 100% 0%, 100% 93vh, 0 100%);
}


.button-1:hover{
    background: # lightcyan;
    color: #fff;
}

.wrapper{
    text-align: center;
}


/* COMMENTS AND REPLY TO COMMENT  */

#wrap{
    border: 1px solid lightgray;
    alignment-adjust: central;
    width: 1000px;
    margin-left: 50px;
    margin-top: 10px;
    box-shadow: 0 5px 0 #e6e6e6;
    padding-bottom: 50px;
    
    }
    h1{
    color: blue-violet;
    text-align: center;
    }
    
    h3.heading{
    margin-left: 20px;
    background-color: #fafafa;
    font-size: 25px;
    float: left;
    padding-left: 40px;
    position: relative;
    width: 405px;
    height: 40px;
    padding-top: 5px;
    
    }
    #upper_blank{
    border-bottom: 7px solid steelblue;
    margin-top: 40px;
    margin-right: 485px;
    width: 570px;
    padding-right: 480px;
    }
    p{
    margin-left: 5px;
    padding: 8px;
    padding-left: 20px;
    }
    #name{
    margin-left: 20px;
    box-shadow: 0 2px 0 #e6e6e6;
    height: 40px;
    padding-left: 10px;
    width: 500px;
    }
    #email{
    margin-left: 20px;
    box-shadow: 0 2px 0 #e6e6e6;
    height: 40px;
    padding-left: 10px;
    width: 500px;
    }
    #url{
    margin-left: 20px;
    box-shadow: 0 2px 0 #e6e6e6;
    height: 40px;
    padding-left: 10px;
    width: 500px;
    }
    #comment{
    margin-left: 20px;
    box-shadow: 0 2px 0 #e6e6e6;
    height: 40px;
    padding-left: 10px;
    width: 650px;
    height: 200px;
    }
    #commentSubmit{
    margin-left: 20px;
    width: 250px;
    height: 55px;
    color: white;
    font-size: 20px;
    background-color: #2c95dc;
    box-shadow: 0 3px 0 #09466f;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 5px;
    }
    #commentSubmit:hover {
    background-color: #09466f;
    
    }
    
    p{
    font-size: 18px;
    color: gray;
    padding-bottom: 15px;
    padding-top: 15px;
    }
    p1{
    font-size: 18px;
    padding-top: 20px;
    }
    
    h3.second_heading{
    margin-left: 0;
    margin-top: 30px;
    font-size: 20px;
    width: 250px;
    height: 50px;
    padding-top: 10px;
    padding-left: 55px;
    
    }
    #middle{
    border: 1px solid lightgray;
    width: 1000px;
    height: 200px;
    background-color: lightyellow;
    margin-left: 45px;
    text-align: left;
    margin-top: 10px;
    box-shadow: 0 2px 0 lightgray;
    }
    .blank{
    border-bottom: 7px solid steelblue;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
    width: 800px;
    }
    
    #inner_reply{
    
    margin-left: 800px;
    margin-top: 160px;
    width: 100px;
    height: 30px;
    background-color: #2c95dc;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 18px;
    }